<html lang="en">
<head>
        <link rel="stylesheet" href="/static/styles/calculate_style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/"><img src="/static/img/mainpict.png" alt="home"></a>
        </h1>
    </header>
    <h2>Текущий расчет - {{ len .order.Devices }} прибора</h2>
    <div class="rangeinput">
        <span>Расстояние(м)</span>
        <input type="text" value="{{ .order.Length }}">
    </div>
    <ul>
        {{ range .order.Devices }}
        <li>
            <img src="{{ .Image }}">
            <span>{{ .Title }}</span>
            <input type="text" value="{{ .AvgMaxPower }}">
            <input type="checkbox" id="checkbox1" name="defaultpower" value="yes" checked>
            <label for="checkbox1">Использовать максимальное типовое значение({{ .AvgMaxPower }} Вт)</label>
        </li>
        {{ end }}
    </ul>
    <span class="footer">© RIP 2025 Boguslavsky Andrey</span>
</body>
</html>